$primaryColor:#67BD4B;
$darkPrimaryColor:#3c8435;
$iconColor:#8c4bbd;
$darkIconColor:#623584;
$secondIconColor:#bd8b4b;
$footerColor:#0f1611;
$darkTextColor:#0b0b0c;
$lightTextColor:#f2fff2;
$defaultBackgroundColor:#fafafa;