@import  'config';
@import 'util';
 
body {
    padding: 0;
    margin:0;
    background-color:$defaultBackgroundColor;
    header{
        display: flex;
        flex-direction: row;
        align-items: baseline;
        justify-content: space-around;
        background-color: $darkPrimaryColor;
        color:$lightTextColor;
        max-width: 100%;
        // margin:0 auto;
        padding: 1em;
        // .links{
        //     // float: right;
        // }
        ul{
            li{display: inline;
                justify-content: space-between;
                padding-right: 1em;
            }
        }
    }
    .gallery{
        display: flex;
        flex-wrap: wrap;
        justify-content: start;;
        margin: .5%;    
    }
    .menu{
        display: flex;
        
    }
    .curved-image{
        border-radius: 20;
        max-width: 300px;
        margin: 10px;
    }
}


