@import "config";
@import "util";

.navbar {
  background: $primaryColor;
  padding: 0 4rem;
  display: grid;
  grid-template-columns: 1fr repeat(3, auto);
justify-items: flex-start;
  align-items: center;
  gap: 10px;
  .logo {
    img {
      width: 5em;
    }
  }
  a {
    text-decoration: none;
    font-size: 1.1em;
    font-weight: 300;
  }
}
main {
  padding: 4em;
  .home {
    height: 70vh;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-column: 1/-1;
    img {
      width: 30em;
    }
  }
}
.footer {
  background: blue;
  height: 100vh;
}
