@import url("https://fonts.google.com/specimen/Montserrat?query=mon&selection.family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900|Roboto&sidebar.open=true#standard-styles");
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 10px;
  font-family: 'Montserrat',Arial, Helvetica, sans-serif;
}

a {
  text-decoration: none;
}

.container {
  min-height: 100vh;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#hero {
  background-image: url("/img/hero.jpg");
  background-size: cover;
  background-position: top center;
  position: relative;
  z-index: 1;
}

#hero .hero {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin: 0 auto;
  padding: 0 50px;
  max-width: 1200px;
}

#hero h1 {
  color: transparent;
  font-size: 4rem;
  display: block;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  position: relative;
}

#hero h1 span {
  position: absolute;
  background-color: #B5448E;
  width: 0%;
  height: 100%;
  top: 0;
  right: 0;
}

#hero h1:nth-child(1) span {
  -webkit-animation: reveal-box 1.5s ease-in-out 1.5s;
          animation: reveal-box 1.5s ease-in-out 1.5s;
}

#hero h1:nth-child(2) span {
  -webkit-animation: reveal-box 2s ease-in-out 2s;
          animation: reveal-box 2s ease-in-out 2s;
}

#hero h1:nth-child(1) {
  -webkit-animation: reveal-text 2s ease-in 2s forwards;
          animation: reveal-text 2s ease-in 2s forwards;
}

#hero h1:nth-child(2) {
  -webkit-animation: reveal-text 2.5s ease-in 2.5s forwards;
          animation: reveal-text 2.5s ease-in 2.5s forwards;
}

#hero h2 {
  color: transparent;
  position: relative;
  -webkit-animation: reveal-last-text 3.5s ease-in 3.5s forwards;
          animation: reveal-last-text 3.5s ease-in 3.5s forwards;
}

#hero h2 span {
  position: absolute;
  width: 0;
  height: 100%;
  left: 0;
  top: 0;
  background-color: #EB9559;
  -webkit-animation: reveal-box 3s ease-in-out 3s;
          animation: reveal-box 3s ease-in-out 3s;
}

#hero .cta {
  display: inline-block;
  background-color: transparent;
  color: white;
  border: solid 2px #B5448E;
  padding: 10px 30px;
  margin-top: 30px;
  text-transform: uppercase;
  letter-spacing: .1rem;
  font-size: 2rem;
  -webkit-transition: .5s ease;
  transition: .5s ease;
  -webkit-transition-property: background-color, color;
  transition-property: background-color, color;
}

#hero .cta:hover {
  background-color: #B5448E;
  color: white;
}

#hero::after {
  top: 0;
  left: 0;
  content: '';
  position: absolute;
  background-color: #298D14;
  height: 100%;
  width: 100%;
  z-index: -1;
  opacity: .7;
}

@-webkit-keyframes reveal-box {
  50% {
    width: 100%;
    right: 0;
  }
  100% {
    width: 0%;
    right: 100%;
  }
}

@keyframes reveal-box {
  50% {
    width: 100%;
    right: 0;
  }
  100% {
    width: 0%;
    right: 100%;
  }
}

@-webkit-keyframes reveal-text {
  100% {
    color: white;
  }
}

@keyframes reveal-text {
  100% {
    color: white;
  }
}

@-webkit-keyframes reveal-last-text {
  100% {
    color: black;
    font-weight: bold;
  }
}

@keyframes reveal-last-text {
  100% {
    color: black;
    font-weight: bold;
  }
}
/*# sourceMappingURL=style.css.map */