// @import url('https://fonts.google.com/specimen/Montserrat?query=mon&selection.family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900|Roboto&sidebar.open=true#standard-styles');
@import "config.scss";
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  font-size: 10px;
  font-family: "Montserrat", Arial, Helvetica, sans-serif;
}
body {
  background-color: #fafafa;
}
img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  background-position: top center;
  position: relative;
}
a {
  text-decoration: none;
  text-align: center;
}
.container {
  min-height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.section-title {
  text-transform: uppercase;
  font-weight: 300;
  letter-spacing: 0.2rem;
  text-align: center;
  padding: 0.2rem;
  font-size: 2rem;
  span {
    color: $color-secondary-1-0;
  }
}
p {
  text-align: center;
  font-size: small;
  letter-spacing: 0.1rem;
}
// fix overflow
.ow {
    overflow-wrap: break-word;
    word-wrap: break-word;
    hyphens: auto;
  }
  //end fix overflow
.cta {
    display: inline-block;
    background-color: transparent;
    border: solid 2px transparent;
    padding: 10px ;
    color: #fafafa;
    margin-top: 30px;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 0.1rem;
    font-size: 2rem;
    transition: 0.5s ease;
    transition-property: background-color, color;
    animation: show-button 4s ease-in 4s forwards;
  }
  .cta:hover {
    background-color: $color-secondary-1-0;
  }
// hero section
#hero {
  background-image: url("/img/hero.jpg");
  background-size: cover;
  background-position: top center;
  position: relative;
  z-index: 1;
  .hero {
    justify-content: flex-start;
    margin: 0 auto;
    padding: 0 50px;
    max-width: 1200px;
  }
  h1 {
    color: transparent;
    font-size: 4rem;
    display: block;
    width: fit-content;
    position: relative;
    span {
      position: absolute;
      background-color: $color-secondary-1-3;
      width: 0%;
      height: 100%;
      top: 0;
      right: 0;
    }
  }

  h1:nth-child(1) span {
    animation: reveal-box 1.5s ease-in-out 1.5s;
  }
  h1:nth-child(2) span {
    animation: reveal-box 2s ease-in-out 2s;
  }

  //animating text
  h1:nth-child(1) {
    animation: reveal-text 2s ease-in 2s forwards;
  }
  h1:nth-child(2) {
    animation: reveal-text 2.5s ease-in 2.5s forwards;
  }
  h2 {
    color: transparent;
    position: relative;
    animation: reveal-last-text 3.5s ease-in 3.5s forwards;
    span {
      position: absolute;
      width: 0;
      height: 100%;
      left: 0;
      top: 0;
      background-color: $color-secondary-1-0;
      animation: reveal-box 3s ease-in-out 3s;
    }
  }
  //end of text animation

}
#hero::after {
  top: 0;
  left: 0;
  content: "";
  position: absolute;
  background-color: $color-primary-4;
  height: 100%;
  width: 100%;
  z-index: -1;
  opacity: 0.7;
}
// end of hero section

// services section
#services {
  .services {
    flex-flow: column wrap;
    padding: 4em;
    .service-bottom {
      display: flex;
      flex-flow: column wrap;
      align-items: center;
      justify-content: center;
      .service-card {
        color: white;
        flex-basis: 80%;
        display: flex;
        flex-flow: column;
        justify-content: center;
        align-items: flex-start;
        position: relative;
        padding: 4rem;
        margin: 1rem 0;
        border-radius: 1rem;
        background-image: url("/img/img7.jpg");
        background-size: cover;
        overflow: hidden;
        z-index: 1;

        p {
          text-align: left;
        }
      }
      .service-card::after {
        content: " ";
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        position: absolute;
        background-color: black;
        opacity: 0.4;
        z-index: -1;
      }
      .icon {
        width: 80px;
        height: 80px;
        padding: 0;
        margin: 0;
      }
    }
  }
}
// end of services section
// project section
#projects {
  .projects {
    display: flex;
    flex-flow: column wrap;
    justify-items: center;
    justify-content: center;
    padding: 0 4rem;
    h1 {
      color: #fafafa;
      font-size: 2rem;
      text-transform: uppercase;
      margin: 0.3em 0;
    }
    h2 {
      text-transform: capitalize;
      margin-bottom: 10px;
    }
    .project-title {
      padding: 4rem;
    }
    .project-item {
      margin: 2rem 0;
      border-radius: 1rem;
      overflow: hidden;
      color: #fafafa;

      p{
        text-align: left;
      }
      .project-text {
        padding: 1.5rem;
        background-image: linear-gradient(
          60deg,
          rgb(32, 31, 31),
          rgb(49, 49, 49)
        );
      }
      .project-image {
        height: 200px;
        flex-basis: 50%;
        overflow: hidden;
        position: relative;
        img {
          transition: 0.3s ease transform;
        }
      }
      .project-image::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        background-color: #0a0a0a;
        opacity: 0.7;
      }
      :hover img {
        transform: scale(1.1);
      }
    }
  }
}
// end project section

// about section 
#about{
    .about{
        display: flex;
        flex-flow: column-reverse;
        justify-content: center;
        padding: 4rem;
        gap: 4rem;
        h2{text-align: center;text-transform: capitalize;margin: 10px;}
        .col-left{
            width: 250px;
            height: 360px;
        }
        .col-right{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 100%;
            height: 100%;
            .cta{color: #0a0a0a; 
                
            }
        }
        .about-img{
            position: relative;
            border: solid white .4em;
            width: 100%;
            height: 100%;
        }
        .about-img::after{
            content: ' ';
            position: absolute;
            top: 16px;
            left: -22px;
            width: 100%;
            height: 100%;
            border: solid $color-secondary-1-0 .4em;
            z-index: -1;
        }
    }
}
// End about section 

// contact section
#contact{
    .contact{
        display: flex;
        flex-flow: column;
        gap:4rem;
        margin-top: 6rem;
    }
    .cards{
        max-width: 1200px;
        padding: 4rem;
                    width: 400px;

        .card-item{
            display: flex;
            flex-direction: column;
            text-align: center;
            justify-content: center;
            height: 100%;
            align-items: center;
            margin: 4rem;
            padding: 4rem;
            background-color: #fafafa;
            box-shadow:  0px 0px 18px 0 #0000002c;
            border-radius: .6rem;
            width: 250px;
            height: auto;
            .icon{
                height: 50px;
                width: 50px;
                margin: 0 0 10px 0;
            }
           p{
               max-width: 200px;
           }
        }
    }
}
// end contact section 

// keyframes
@keyframes reveal-box {
  50% {
    width: 100%;
    right: 0;
  }
  100% {
    width: 0%;
    right: 100%;
  }
}
@keyframes reveal-text {
  100% {
    color: white;
  }
}
@keyframes reveal-last-text {
  100% {
    color: black;
    font-weight: bold;
  }
}
@keyframes show-button {
  100% {
    border-color: $color-secondary-1-0;
  }
}
// end of keyframes
