* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 10px;
  font-family: 'Montserrat',Arial, Helvetica, sans-serif;
}

body {
  background-color: #fafafa;
}

img {
  width: 100%;
  height: 100%;
  background-size: cover;
  size: contain;
  background-position: top center;
  position: relative;
}

a {
  text-decoration: none;
}

.container {
  min-height: 100vh;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.section-title {
  text-transform: uppercase;
  font-weight: 300;
  letter-spacing: .2rem;
  text-align: center;
  padding: .2rem;
  font-size: 2rem;
}

.section-title span {
  color: #298D14;
}

p {
  text-align: center;
  font-size: small;
  letter-spacing: .1rem;
}

#hero {
  background-image: url("/img/hero.jpg");
  background-size: cover;
  background-position: top center;
  position: relative;
  z-index: 1;
}

#hero .hero {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin: 0 auto;
  padding: 0 50px;
  max-width: 1200px;
}

#hero h1 {
  color: transparent;
  font-size: 4rem;
  display: block;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  position: relative;
}

#hero h1 span {
  position: absolute;
  background-color: #D17534;
  width: 0%;
  height: 100%;
  top: 0;
  right: 0;
}

#hero h1:nth-child(1) span {
  -webkit-animation: reveal-box 1.5s ease-in-out 1.5s;
          animation: reveal-box 1.5s ease-in-out 1.5s;
}

#hero h1:nth-child(2) span {
  -webkit-animation: reveal-box 2s ease-in-out 2s;
          animation: reveal-box 2s ease-in-out 2s;
}

#hero h1:nth-child(1) {
  -webkit-animation: reveal-text 2s ease-in 2s forwards;
          animation: reveal-text 2s ease-in 2s forwards;
}

#hero h1:nth-child(2) {
  -webkit-animation: reveal-text 2.5s ease-in 2.5s forwards;
          animation: reveal-text 2.5s ease-in 2.5s forwards;
}

#hero h2 {
  color: transparent;
  position: relative;
  -webkit-animation: reveal-last-text 3.5s ease-in 3.5s forwards;
          animation: reveal-last-text 3.5s ease-in 3.5s forwards;
}

#hero h2 span {
  position: absolute;
  width: 0;
  height: 100%;
  left: 0;
  top: 0;
  background-color: #EB9559;
  -webkit-animation: reveal-box 3s ease-in-out 3s;
          animation: reveal-box 3s ease-in-out 3s;
}

#hero .cta {
  display: inline-block;
  background-color: transparent;
  color: transparent;
  border: solid 2px transparent;
  padding: 10px 30px;
  margin-top: 30px;
  text-transform: uppercase;
  letter-spacing: .1rem;
  font-size: 2rem;
  -webkit-transition: .5s ease;
  transition: .5s ease;
  -webkit-transition-property: background-color, color;
  transition-property: background-color, color;
  -webkit-animation: show-button 4s ease-in 4s forwards;
          animation: show-button 4s ease-in 4s forwards;
}

#hero .cta:hover {
  background-color: #EB9559;
  color: white;
}

#hero::after {
  top: 0;
  left: 0;
  content: '';
  position: absolute;
  background-color: #298D14;
  height: 100%;
  width: 100%;
  z-index: -1;
  opacity: .7;
}

#services .services {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  padding: 4em;
}

#services .services .service-bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#services .services .service-bottom .service-card {
  color: white;
  -ms-flex-preferred-size: 80%;
      flex-basis: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  position: relative;
  padding: 4rem;
  margin: 1rem 0;
  border-radius: 1rem;
  background-image: url("/img/hero.jpg");
  background-size: cover;
  overflow: hidden;
  z-index: 1;
}

#services .services .service-bottom .service-card p {
  text-align: left;
}

#services .services .service-bottom .service-card::after {
  content: " ";
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  position: absolute;
  background-color: black;
  opacity: .4;
  z-index: -1;
}

#services .services .service-bottom .icon {
  width: 80px;
  height: 80px;
  padding: 0;
  margin: 0;
}

#projects .projects {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  justify-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0 4rem;
}

#projects .projects h1 {
  color: #fafafa;
  font-size: 2rem;
  text-transform: uppercase;
  margin: .3em 0;
}

#projects .projects h2 {
  text-transform: capitalize;
  margin-bottom: 10px;
}

#projects .projects .project-title {
  padding: 4rem;
}

#projects .projects .project-item {
  margin: 2rem 0;
  border-radius: 1rem;
  overflow: hidden;
  color: #fafafa;
}

#projects .projects .project-item p {
  text-align: left;
}

#projects .projects .project-item .project-text {
  padding: 1.5rem;
  background-image: linear-gradient(60deg, #201f1f, #313131);
}

#projects .projects .project-item .project-image {
  height: 200px;
  overflow: hidden;
  position: relative;
}

#projects .projects .project-item .project-image img {
  -webkit-transition: .3s ease transform;
  transition: .3s ease transform;
}

#projects .projects .project-item .project-image::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #0a0a0a;
  opacity: .7;
}

#projects .projects :hover .project-image img {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

@-webkit-keyframes reveal-box {
  50% {
    width: 100%;
    right: 0;
  }
  100% {
    width: 0%;
    right: 100%;
  }
}

@keyframes reveal-box {
  50% {
    width: 100%;
    right: 0;
  }
  100% {
    width: 0%;
    right: 100%;
  }
}

@-webkit-keyframes reveal-text {
  100% {
    color: white;
  }
}

@keyframes reveal-text {
  100% {
    color: white;
  }
}

@-webkit-keyframes reveal-last-text {
  100% {
    color: black;
    font-weight: bold;
  }
}

@keyframes reveal-last-text {
  100% {
    color: black;
    font-weight: bold;
  }
}

@-webkit-keyframes show-button {
  100% {
    border-color: #EB9559;
    color: white;
  }
}

@keyframes show-button {
  100% {
    border-color: #EB9559;
    color: white;
  }
}
/*# sourceMappingURL=style.css.map */